body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.Container{
    display: flex;
}

.Control-panel-options{
    width: 20%;
    height: 100vh;
    color: white;
    background-color: #132B40;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo{
    padding: 80px 0;
}

.Options{
    width: 100%;
}

.List{
    padding: 15px;
    transition: 0.3s;
}

.List:hover{
    background-color: #337AA6;
}


.Control-panel-info{
    width: 80%;
    height: 100vh;
}


.Nav-bar{
    background-color: #337AA6;
    color: #132B40;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border: 3px solid black;
}

.List-name-and-controls{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.List-controls{
    display: flex;
    gap: 10px;
}

.List-name{
    padding-left: 30px;
}

.Buttons{
    background-color: #337AA6;
    border: 2px solid #132B40;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
}
