

body{
    font-family: "Roboto";
    margin: 0;
}
header{
    background-color: #337AA6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    
}
.links{
    margin-right: 20px;
}
.links a{
    font-size: 30px;
  }

.right-side{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-right: 25px;
}
nav ul li a {
    color: white;
    padding: 14px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
#products{
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.links ul{
    display: flex;
    align-items: center;
    list-style: none;

}
.links ul li{
    margin-left: 20px;
}
.links ul li a{
    color: black;
    padding: 10px;
}
.container-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    font-size: 45px;
    margin-top: 50px;
}
.checkbox-container {
    border: 2px solid black;
    padding:30px;
    width: 150px;
    height: 300px;
    margin-left:10px;
    margin-right: 20px;
    margin-top:50px;
  }

  .checkbox-container h2{
    text-align: center;
  }
  .wrapping-navbar-showroom{
    display: flex;
    
  }
.wrapping-navbar-showroom{
    margin-top: 110px;
}

  .wrapping-navbar-showroom .container-showroom{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
  }
.box{
  
    text-align: center;
}
.buttons button{
    background-color: #337AA6;
    font-size: 20px;
    border-radius: 30px;  
    margin-top: 20px;  
    padding: 10px;
}
.buttons button:hover{
    transform: scale(1.2);
}
.buttons button.save{
    margin-left: 40px;
}
  
  




