
body{
    font-family: Roboto;
    color: #132B40;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #337AA6;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0% 3%;
  }
  
  img {
    margin-top: 2%;
  }
  
  .right {
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
    margin-top: 4px;
  }
  
  #dropdown {
        color: #132B40;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        width: 170px;
        height: 40px;
        padding: 5px 5px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-family: Roboto;
        justify-content: center;
  }
  
option {
cursor: pointer;
background-color: white;
 font-weight: bold;
font-family: Roboto;
font-size: 0.9rem;
  }
  
.left {
display: flex;
 gap: 30px;
 justify-content: center;
 align-items: center;
  }
  
#home {
margin-top: 2px;
color: white;
text-decoration: none;
  }
.navbar-icons ul{
 display: flex;
list-style: none;
justify-content: space-between;
    }
.navbar-icons ul a {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    }
.container-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    font-size: 45px;
    margin-top: 50px;
}
.checkbox-container {
    border: 2px solid black;
    padding:30px;
    width: 150px;
    height: 300px;
    margin-left:10px;
    margin-right: 20px;
  }

  .checkbox-container h2{
    text-align: center;
  }
  .wrapping-navbar-showroom{
    display: flex;
    
  }
.wrapping-navbar-showroom{
    margin-top: 110px;
}

  .wrapping-navbar-showroom .container-showroom{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  #container-showroom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;

  }
  .item-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .item {
    border: 2px solid black;
    width: calc((100% / 3) - 10px);
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .item img {
    height:150px;
    width:270px;
    margin-bottom: 10px;
    border-radius:10px;
  }
  
  .item p {
    text-align: center;
  }

  




