

body{
    margin:0px;
    font-family: "Roboto";
}
select{
    width:200px;
    border-radius: 20px;
    text-align: center;
    padding:5px;
}

    nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #337AA6;
    color: #fff;
    width:100%;
    margin:0px;
    
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right:70px;
    padding:20px;

  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    align-items: center;
  }
  
  .navbar-icons ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left:500px;

}
.navbar-icons ul li{
    margin-left: 20px;
}
.navbar-icons ul li a{
    color: black;
    padding: 10px;
}
  
  .main-container{
    display:flex;
  }
 
  .checkbox-container {
    border: 2px solid black;
    padding:30px;
    width: 150px;
    height: 300px;
    margin-left:10px;
    margin-right: 20px;
    margin-top:50px;
  }

  .checkbox-container h2{
    text-align: center;
  }
  .title h1{
    text-align: center;
    
  }
  .item-container{
   padding:100px;
   top:0px;
   align-items: center;
    
  }
  .row{
    padding:10px;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:200px;
        margin:20px;
         
}
.box1{
    width: 100%;
    display:flex;
    flex-direction:column;
    padding:20px;
    gap:20px;
}
.item 

h3{
    align-items: center;
}

h4{
    align-items:center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
button{
    margin-right:10px;
    border-radius: 5px;
    background-color:#337AA6;
    width:60px;
    padding:5px;
    font-family: "Roboto"; 
    
}
.btn-container .btn:hover{
  transform: scale(1.3);


}



footer {
  display:flex;
  width:100%;
  background-color:#337AA6;
  color: #fff;
  padding:8px;
}
.social-icons{
  display:inline-flex;
  gap:20px;
  align-items:center;
  
}
.container2 .social-icons a i:hover{
  transform:scale(1.3);
  

}


.container2 .social-icons a i{
  font-size:40px;
}
.container2{
  display:flex;
  justify-content: space-around;
  width: 100%;

}
.container2 .rw1{
  font-size: 20px;
  
}
.container2 .rw1  li:hover{
  transform: scale(1.1);
}
.container2 .rw1 a{
  text-decoration: none;
}

.container2 .rw1 li{
  list-style: none;
}
#item-container {
  display: flex;
  flex-wrap: wrap;
  width:800px;
  margin:50px;


}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  border: 2px solid black;
  width: calc((100% / 3) - 10px);
  height: 300px;

 
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.item img {
  height:150px;
  width:250px;
  margin-bottom: 10px;
  border-radius:10px;
}

.item p {
  text-align: center;
}