

body{
  font-family: Roboto;
  color: #132B40;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #337AA6;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0% 3%;
}

img {
  margin-top: 2%;
}

.right {
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
  margin-top: 4px;
}

#dropdown {
      color: #132B40;
      border: none;
      font-size: 1rem;
      border-radius: 10px;
      width: 170px;
      height: 40px;
      padding: 5px 5px;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
      font-family: Roboto;
      justify-content: center;
}

option {
cursor: pointer;
background-color: white;
font-weight: bold;
font-family: Roboto;
font-size: 0.9rem;
}

.left {
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
}

#home {
margin-top: 2px;
color: white;
}
.navbar-icons ul{
display: flex;
list-style: none;
justify-content: space-between;
  }
.navbar-icons ul a {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
  }



  .main-container{
    display:flex;
  }
 
  .checkbox-container {
    border: 2px solid black;
    padding:30px;
    width: 150px;
    height: 300px;
    margin-left:10px;
    margin-right: 20px;
    margin-top:50px;
  }

  .checkbox-container h2{
    text-align: center;
  }
  .title h1{
    text-align: center;
    
  }
  .item-container{
   padding:100px;
   top:0px;
   align-items: center;
    
  }
  .row{
    padding:10px;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:200px;
        margin:20px;
         
}
.box1{
    width: 100%;
    display:flex;
    flex-direction:column;
    padding:20px;
    gap:20px;
}
.item 

h3{
    align-items: center;
}

h4{
    align-items:center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    
}



footer {
  display:flex;
  width:100%;
  background-color:#337AA6;
  color: #fff;
  padding:8px;
}
.social-icons{
  display:inline-flex;
  gap:20px;
  align-items:center;
  
}
.container2 .social-icons a i:hover{
  transform:scale(1.3);
  

}


.container2 .social-icons a i{
  font-size:40px;
}
.container2{
  display:flex;
  justify-content: space-around;
  width: 100%;

}
.container2 .rw1{
  font-size: 20px;
  
}
.container2 .rw1  li:hover{
  transform: scale(1.1);
}
.container2 .rw1 a{
  text-decoration: none;
}

.container2 .rw1 li{
  list-style: none;
}
#item-container {
  display: flex;
  flex-wrap: wrap;
  width:800px;
  margin:50px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  border: 2px solid black;
  width: calc((100% / 3) - 10px);
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.item button{
 display:flex;
 justify-content: space-between;
 
}

.item img {
  height:150px;
  width:270px;
  margin-bottom: 10px;
  border-radius:10px;
}

.item p {
  text-align: center;
}