body{
    font-family: Roboto;
    color: #132B40;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #337AA6;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0% 3%;
  }
  
  img {
    margin-top: 2%;
  }
  
  .right {
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
    margin-top: 4px;
  }
  
  #dropdown {
        color: #132B40;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        width: 170px;
        height: 40px;
        padding: 5px 5px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-family: Roboto;
        justify-content: center;
  }
  
option {
cursor: pointer;
background-color: white;
 font-weight: bold;
font-family: Roboto;
font-size: 0.9rem;
  }
  
.left {
display: flex;
 gap: 30px;
 justify-content: center;
 align-items: center;
  }
  
#home {
margin-top: 2px;
color: white;
  }
.navbar-icons ul{
 display: flex;
list-style: none;
justify-content: space-between;
    }
.navbar-icons ul a {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    }

.Main-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.Control-panel{
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    margin-left: 40px;
    /* gap: 30px; */
}

.Account-information-block{
    width: 70%;
}

.Info{
    display: flex;
    justify-content: start;
    width: 100%;
}

.Account-info{
    width: 43%;
}

.Welcome{
    margin-bottom: 30px;
}


.Info-sub-block > div{
    margin-bottom: 10px;
}

.Info-title{
    margin-bottom: 30px;
}