

header{
    background-color: #337AA6;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right-side{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-right: 25px;
}
nav ul li a {
    color: black;
    padding: 14px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
#products{
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.links ul{
    display: flex;
    align-items: center;
    list-style: none;

}
.links ul li{
    margin-left: 20px;
}
.links ul li a{
    color: black;
    padding: 10px;
}
.container-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    font-size: 45px;
    margin-top: 50px;
}
.left-navbar{
 margin-left: 50px;
 margin-top: 10px;
 width: 10%;
 float: left;
 border: 2px solid black;
 padding: 10px;
 height: 500px;
 
}
.left-navbar h2{
    margin-left: 20%;
    
}
    
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  




